p {
    color: red;
}
.color-green{
    color: green;
}
#second-p{
    color: blue;
}
/* hover is a pseudo selector */
p:hover {
    color: green;
}
/* first-child, second-child...pseudo selector */
li:nth-child(2) {
    color: blue;
}
li:first-child{
    color:crimson;
}
/* Only child pseudo selector */
li:only-child{
    color:darkcyan;
}

/*  Unvisited link 
#google-link:link {
    color:blue;
}

 Visited link 
#google-link:visited {
    color:darkred;
} */

/*-----------------------------------------------------------------------------------------------------------------------*/
                                                  /* Attribute selector */

h2[class=subtitle]{
    color: blue; 
}

img[src^="../img/"] {
    
} /* ესეთი კოდის გამოყენება შეიძლება ასეთ შემთხვევაში: ვთქვათ გვაქვს ორი ფოტო, რომელთა სახელიც აქ []-ში რაცაა
     ჩაწერილი იმით იწყება(მის მერე შეიძლება სხვარამით გრძელდებოდნენ), ორივე მოინიშნება და რა ცსს კოდსაც დავწერთ {}-ში
     ორივეზე იმოქმედებს. */

img[src$="../img/"] {

} /* ესეც დაახლოებით იგივენაირი კოდია. განსხვავება ისაა რომ ეს მონიშნავს არა ისეთებს როლებიც ერთნაირად იწყებიან, არამედ იმეებს
     რომლებიც ერთნაირად მთავრდებიან */

img[src$="../img/"] {

     } /* ესეც იგივე ტიპის კოდია, მხოლოდ არ აქვს მნიშვნელობა []-ში დაწერილი კონტენტი სახელის დასაწყისში შუაში თუ ბოლოში 
          იქნება, მთავარია შეიცავდნენ სახელში სადმე მაგ კონტენტს და მოინიშნებიან */

/* body {
    border: slategrey solid 4px;
} */

/* White space attribute selector */ /* ანუ, ეს მარტო ისეთებზე მუშაობს, რომლებიც მეორეული ან მესამეული და ასე შემდეგ
                                        კლასები არიან, მაგალითად <h2 class="article article-subtitle", ანუ მნიშვნელოვანია,
                                        რომ ""-ში space იყოს. */

h2[class~=article-subtitle]{
    background-color: springgreen;
} /* სიტყვაზე, თუ კლასის სელექტორს იყენებ და ყველა h2-ზე გინდა რო რაღაც ერთი მოქმედება გააკეთო, მარა გინდა რო რომელიღაც
     ერთი კონკრეტული h2 გამოყო და მაგაზე სხვა მოქმედება შეასრულო, მაშინ აკეთებ ამას. შეიძლება ყველა h2-ს ერთი და იგივე 
     კლასი ქონდეს მარა, შეგიძლია უბრალოდ სფეისს დააჭირო და გვერდზე მიუწერო ახალი კლასი ""-ში.
*/

h2[class|=article-subtitle]{
    background-color: #66ff00;
}
/* თუ გვექნება ისეთი შემთხვევა სადაც სიტყვაზე ბევრი კლასის სახელები გვაქ და ერთმანეთისგან მხოლოდ -ციფრებით განსხვავდებიან,
   მაგალითად: article-subtitle-44318
               article-subtitle-34122
               article-subtitle-99374
               ან შეიცავენ მხოლოდ article-subtitle ან ისეთებისთვის რომლებიც ამასაც შეიცავენ და პლუს კიდე ტირე და მერე რიცხვებს.
        მაშინ შეგვიძლია გამოვიყენოთ ეს კოდი, რომელიც ამბობს, რომ შეასრულე ეს მოქმედება ყველა ისეთ ელემენტზე რომლის კლასის
        სახელიც იწყება "article-"-ით... */

/*-----------------------------------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------------------------------------*/
                                            /* Properties */

/* ატრიბუტი ირჩევს რა უნდა შეიცვალოს, რა ტიპის მოქმედება უნდა შესრულდეს, value actually gives it that change. */

/* body {
    border: slategrey solid 4px;
} ამ შემთხვევაში border არის ატრიბუტი, ხოლო slategrey solid 4px არის value */
selector {
    property: value;
    property2: value2;
} /* <--- CSS GENERAL RULE */

/*-------------------------------------------------------------------------------------------------------------------------------*/

/* hex --> #ffffff ... #000000 symbols that can be used: 0, 1, 2, ... 9. and also a, b, c, d ... f.
   rgb(0, 0, 255) --> variates from 0 to 255 */


.container {
    width: 30px;
    height: 15px;
    color: white;
    background-color: green;

}
   
